div{
    border: 1px solid;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 500px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:white;
    position:absolute;
    left: 35%;
    top: 20%;
    border-left-color: rgb(203, 203, 212);
    border-right-color: rgb(203, 203, 212);
    border-top-color: rgb(203, 203, 212);
    border-bottom-color: rgb(203, 203, 212);

}


body{
    background-image: linear-gradient(to right ,blue,white);
}

a{
 color:white;
    text-decoration: none;
}
input:hover{
    background-color:white;
}

input{
    border:1px solid rgb(25, 73, 161);
    background-color: white;
    color:black;
    width: 300px;
    border-bottom-left-radius:6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius:6px;
    border-top-left-radius:6px ;
    height: 40px;
}
input:hover{
    border:3px solid rgb(46, 108, 223);
}
input[type=submit]{
    border:1px solid blue;
    background-color: rgb(12, 42, 177);
    color:white;
    width: 300px;
    height: 40px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
    border-top-left-radius: 0px;
    font-size: medium;
}
h1{
    color: rgb(49, 2, 124);
    text-shadow:3px 2px white;
    font-size: 20px
}
input[type=submit]:hover
{
    background-color:red;
}
button{
    border:1px solid black;
    background-color: rgb(0, 11, 14);
    width: 150px;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2x;
    height: 40px;
    color:white;
}

